<div class="active-lobby-container">
  <h1>Welcome to your pointing poker lobby :)</h1>
  <div class="connected-users">
    <div class="connected-user" *ngFor="let user of connectedUsers">
      <div class="userName" style="display: inline-block">
        {{user.name}}
      </div>
      <div class="userValue" style="display: inline-block">
        <div *ngIf="user.show; else hiddenVote">

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #hiddenVote>
  <div class="black-square">
  </div>
</ng-template>
