<div class="active-lobby-container">
  <h1>Welcome to your pointing poker lobby :)</h1>
  <div class="connected-users">
    <div class="connected-user" *ngFor="let user of connectedUsers">
      <div class="userName" style="display: inline-block">
        {{user.name}}
      </div>
      <div class="userValue" style="display: inline-block">
        <div *ngIf="user.show; else hiddenVote">
          {{user.vote}}
        </div>
      </div>
    </div>
  </div>

  <div class="voting-buttons">
    <button mat-raised-button color="primary" *ngFor="let option of voteOptions" (click)="castVote(option)">
      {{option}}
    </button>
    <button mat-button color="primary" (click)="showVotesMessage()">Show Votes</button>
    <button mat-button color="primary" (click)="clearVotesMessage()">Clear Votes</button>
  </div>
</div>


<ng-template #hiddenVote>
  <div class="black-square">
  </div>
</ng-template>
