.active-lobby-container {
  border: 2px solid black;
  border-radius: 30px;
  width: 75%;
  height: 90%;
  background-color: white;
  margin: auto;
  text-align: center;
  h1 {
    margin-left: 15px;
  }

  button {
     margin-bottom: 15px;
  }

  .connected-users {
    margin-left: 15px;
    margin-bottom: 20px;
    image {}
    margin-left: 10px;
    .connected-user {
      text-align: center;
      .userName {
        margin-right: 10px;
      }
      .userValue {
        margin-left: 10px;
      }
    }
  }

  .voting-buttons {
    bottom: 75%;
    button {
      margin-left: 10px;
    }
  }

  .visualizations {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;
  }
}

.black-square {
  background-color: black;
  width: 20px;
  height: 20px;
}
